
/* DEBUG */
/* #term span { */
/*   border: solid 1px #ccc; */
/* } */

div.terminal-screen {
    height:100%;
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

pre.terminal-line-container {
    position:relative;
    margin: 0px;
    overflow-y: visible;
    overflow-x: hidden;
    padding: 1px;
    width: 100%;

    /* two pixels to fit an inactive cursor on the last line */
    padding-bottom: 2px;
}

pre.terminal-app-container {
    display:None;
}

iframe {
    border: None;
    /* -webkit-transition: all 5s; */
}

#app {
    display: none;
    width: 100%;
}

body {
    position: absolute;
    margin:0px;
    border:0px;
    padding:0px;
    top:0px;
    bottom:2px;
    left:0px;
    right:2px;
}

iframe {
    -webkit-transition-property: height;
    -webkit-transition-duration: 0.1s;
}
