
/* DEBUG */
/* #term span { */
/*   border: solid 1px #ccc; */
/* } */

div#termscreen {
    height:100%;
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

pre#term {
    position:relative;
    margin: 0px;
    overflow: visible;
    /* two pixels to fit an inactive cursor on the last line */
    padding-bottom: 2px;
}

iframe {
    border: None;
    /* -webkit-transition: all 5s; */
}

#term {
    overflow-x:hidden;
    width: 100%;
}

#app {
    display: none;
    width: 100%;
}

body {
    position: absolute;
    margin:0px;
    border:0px;
    padding:0px;
}

iframe {
    -webkit-transition-property: height;
    -webkit-transition-duration: 0.1s;
}
